#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #1e1e1e;
  color: #eaeaea;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  padding: 0.5rem 2.5rem;
}
.increment-btn {
  margin-right: 1rem;
  background-color: #eaeaea;
  color: #1e1e1e;
}
